body{
	background-color: rgb(245,245,245);
	width: 100%;
	position: relative;
}
/*
#wrapper{
	max-width: 100%;
	margin: auto;
	background-color: rgb(230, 230, 230);
	box-shadow: 0px 15px 15px #888888;
}
*/
nav{
	font-family: 'Source Sans Pro', "san-serif";
	font-weight: 400;
	font-size: 2.4em;
	font-variant: small-caps;
	color: rgb(237, 123, 32);
	clear: both;
	width: 100%;
	text-align: center;
}

li img{
	height: auto;
	width: 1.5em;
}

nav ul{
	display: inline-block;
	float: right;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

nav li{
	width: 10%;
	display: inline-block;
	text-align: center;
}

nav a:link{
	color: rgb(237, 123, 32);
	text-decoration: none;
}

nav a:visited{
	color: rgb(237, 123, 32);
	text-decoration: none;
}

nav a:hover{
	color: rgb(237, 123, 32);
	text-decoration: underline;
}

nav a li:hover{
	text-decoration: underline;
	color: rgba(112, 124, 60, 0.7);
	/*-moz-text-decoration-color: rgba(55, 16, 122, 0.7); /* Code for Firefox */
    /*text-decoration-color: rgba(55, 16, 122, 0.7);*/
}

#hero-image{
	background-image: url(../images/morning.jpg);
	height: 500px;
	width: 100%;
	background-color: rgb(10,77,109);
	background-repeat:no-repeat;
   	background-size: cover;
}

#hero-text{
	z-index: 1;
}

#headline{
	font-family: 'Lora', serif;
	font-weight: 600;
	font-size: 3em;
	text-align: center;
	color: white;
	margin-top: 0px;
	margin-bottom: 15px;
	padding-top: 200px;
}

#divider{
	width: 425px;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-color: white;
	border-width: 0.1em;
}

#subheadline{
	font-family: 'Source Sans Pro', "san-serif";
	font-weight: 400;
	font-size: 3em;
	text-align: center;
	color: white;
	margin-top: 15px;
}

div #bio{
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	display: block;
	width: 40%;
	position: relative;
}

#bio p{
	font-family: 'Source Sans Pro', "san-serif";
	font-weight: 400;
	font-size: 1.4em;
	display: inline-block;
	max-width: 255px;
	height: auto;
	position: absolute;
	text-align: center;
	overflow: hidden;
}

#bio span{
	color: rgb(237, 123, 32);
	font-size: 1.5em;
}

#bio img{
	height: auto;
	max-width: 50%;
	display: inline-block;
	margin-right: 15px;
}

h1{
	font-family: 'Lora', serif;
	font-weight: 600;
	font-size: 2.1em;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
	border-width: 0px 0px 8px 0px;
	border-style: solid;
	border-color: rgb(112, 124, 60);
	background-color: rgba(10,77,109, 0.75);
	color: white;
	margin-top: 100px;
}

div .custom{
	background-color: rgb(245, 245, 245);
    width: 45%;
    text-align: center;
    position: absolute;
    bottom: 15px;
	-webkit-box-shadow: 8px 10px 24px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 8px 10px 24px -5px rgba(0,0,0,0.75);
	box-shadow: 8px 10px 24px -5px rgba(0,0,0,0.75);
}

.custom button{
	margin-bottom: 15px;
	width: 35%;
	text-align: center;
	font-family: "source Sans Pro", "san-serif";
	font-weight: 700;
	font-size: 1.4em;
	font-variant: small-caps;
	background-color: rgb(237, 123, 32);
	color: white;
	border-color: rgba(237, 123, 32, 0.0);
	border-radius: 10px;
	-webkit-box-shadow: 0px 6px 0px -0.5px rgba(214,107,30,1);
	-moz-box-shadow: 0px 6px 0px -0.5px rgba(214,107,30,1);
	box-shadow: 0px 6px 0px -0.5px rgba(214,107,30,1);
}

.hp-content{
	width: 75%;
	height: 360px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

article{
	position: relative;
	margin-bottom: 50px;
}

article h1{
	position: absolute;
	width: 100%;
	top: 0px;
	margin-top: 0px;
}

article p{
	font-family: 'Source Sans Pro', "san-serif";
	font-weight: 400;
	font-size: 1.1em;
	text-align: left;
	margin-top: 30px;
	padding: 10px 10px 10px 10px;
}

#about{
	background-image: url(../images/midmorning.jpg);
	background-color: rgb(10,77,109);
	background-repeat:no-repeat;
   	background-size: cover;
}

#experience{
	background-image: url(../images/jesse.jpg);
	background-color: rgb(10,77,109);
	background-repeat:no-repeat;
   	background-size: cover;
}

#bring-to-the-table{
	background-image: url(../images/skills.jpg);
	background-color: rgb(10,77,109);
	background-repeat:no-repeat;
   	background-size: cover;
}

footer{
	margin-top: 50px;
	width: 100%;
	height: 330px;
	position: relative;
	bottom: 0;
	background-image: url(../images/night1.jpg);
	background-size: cover;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
}

footer input{
	display: block;
	margin-bottom: 30px;
	width: 300px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	font-family: "Lora", "serif";
	font-weight: 400;
	font-size: 1.5em;
	text-align: center;
	color: rgba(0, 0, 0, 0.4)
}

footer #submit{
	width: 200px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	bottom: 0;
	font-family: "source Sans Pro", "san-serif";
	font-weight: 700;
	font-size: 1.4em;
	font-variant: small-caps;
	text-align: center;
	background-color: rgb(237, 123, 32);
	color: white;
	border-color: rgba(237, 123, 32, 0.0);
	border-radius: 10px;
	-webkit-box-shadow: 0px 6px 0px -0.5px rgba(214,107,30,1);
	-moz-box-shadow: 0px 6px 0px -0.5px rgba(214,107,30,1);
	box-shadow: 0px 6px 0px -0.5px rgba(214,107,30,1);
}

/*Responsive Design*/

@media screen and (max-width: 1000px){
	nav a{
		margin-right: 20px;
	}

	#bio p{
		width: 50%;
	}

	div .custom{
		width: 100%;
		position: relative;
		bottom: -155px;
		-webkit-box-shadow: 0px 10px 12px 0px rgba(150,150,150,0.65);
		-moz-box-shadow: 0px 10px 12px 0px rgba(150,150,150,0.65);
		box-shadow: 0px 10px 12px 0px rgba(150,150,150,0.65);
	}

	article{
		margin-top: 2em;
	}

	article h1{
		margin-bottom: 0em;
	}

	article p{
		font-size: 1.5em;
	}

	/*.custom p{
		
	}*/
}

/*
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.wrapper{
	max-width: 1050px;
	margin: auto;
	padding: 15px;
	background-color: rgb(250, 250, 250);
	box-shadow: 0px 15px 15px #888888;
}

nav{
	box-shadow: 0px 10px 5px #888888;
	margin-bottom: 20px;
	border-bottom: solid rgba(16, 198, 51, 0.5) 4px;
	border-radius: 5px;
	clear: both;
	width: 100%;
	height: 130px;
}

nav img{
	width: 10%;
	height: 120px;
	float: left;
	display: inline-block;
}

nav ul{
	display: inline-block;
	float: right;
	padding: 0px;
	margin: 0px;
	width: 90%;
}

nav li{
	width: 16%;
	display: inline-block;
	text-align: center;
	font-family: 'Oswald', sans-serif; font-weight: 400;
	font-size: 24px;
}

nav a:link{
	text-decoration: none;
	color: black;
}

nav a:visited{
	text-decoration: none;
	color: black;
}

nav a:hover{
	text-decoration: underline;
	color: black;
}

nav a li:hover{
	text-decoration: underline;
	color: rgba(55, 16, 122, 0.7);
	-moz-text-decoration-color: rgba(55, 16, 122, 0.7); *//* Code for Firefox */
    /*text-decoration-color: rgba(55, 16, 122, 0.7);
}

nav li span{
	font-style: italic;
}

#intro img{
	float: left;
	width: 20%;
}

#intro{
	background-color: rgba(55, 16, 122, 0.5);
	width: 100%;
	border-radius: 25px;
}

article h1{
	font-family: 'Titillium Web', sans-serif; font-weight: 700;
	font-size: 3em;
	margin-bottom: 10px;
}

#intro p{
	font-family: 'Titillium Web', sans-serif; font-weight: 400;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 1em;
	letter-spacing: 0.3px;
}

#icon-bar{
	width: 100%;
}

#icon-bar div{
	display: inline-block;
	width: 24%;
}

.hp-icons img{
	width: 100px;
	height: 110px;
	margin: 20px 75px 0px 75px;
}

article .content{
	width: 100%;
}

article h2{
	font-family: 'Titillium Web', sans-serif; font-weight: 700;
	font-size: 2em;
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}

.faded{
	opacity: 0.4;
}

#favorite ul{
	width: 40%;
	display: inline-block;
}

ul.favorited{
	list-style-image: url('../images/favorite-bullet-blue.png');
}

.column1{
	margin-left: 7%;
}

*/
/*.column2{
	margin-right: 10%;
}*/
/*
.favorited li{
	font-family: 'Titillium Web', sans-serif; font-weight: 400;
	font-size: 1em;
	letter-spacing: 0.3px;
	padding-bottom: 5px;
}

.favorited li span{
	font-weight: bold;
}

#favorite{
	display: none;
}

#map{
	display: none;
}

#sport{
	display: none;
}

#music{
	display: none;
}

.hidden{
	display: none;
}

.sports-logo{
	display: inline;
	position: relative;
	width: 25%;
}

#mizzou-logo{
	z-index: 10;
	left: 20px;
}

#blues-logo{
	right: 20px;
}

#cardinals-logo{
	z-index: 10;
	left: -120px;
}

#bulls-logo{
	left: 720px;
	top: -300px;
}

body{
	height: 100%;
}

html{
	height: 100%;
	background-image: url("../images/exposed-brick.png");
}
#map-canvas{
	width: 945px;
	height: 500px;
	margin-left: 4%;
}
*/
/*RESPONSIVE*/
/*
@media screen and (max-width: 1030px){
	#icon-bar .map{
		display: none;
	}

	#map{
		display: none;
	}

	#icon-bar div{
		width: 33%;
	}

	#sport div{
		position: static;
		width: 45%;
		margin-left: 10%;
	}

@media screen and (max-width: 940px){
	#favorite{
		display: inline-block;
	}

	#sport{
		display: inline-block;
	}

	#music{
		display: inline-block;
	}

	#icon-bar{
		display: none;
	}
}

@media screen and (max-width: 830px){
	nav #other{
		display: none;
	}

	nav ul{
		height: 100%;
	}

	nav li{
		width: 25%;
	}

	nav .row1{
		padding-bottom: 15px;
		border-bottom: 2px solid rgba(16, 198, 51, 0.5);
	}

	nav .row2{
		padding-top: 15px;
		margin-left: 8%;
	}
}
*/