.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

body{
	background-color: rgb(245,245,245);
}
/*
#wrapper{
	max-width: 100%;
	margin: auto;
	background-color: rgb(230, 230, 230);
	box-shadow: 0px 15px 15px #888888;
}
*/
nav{
	font-family: 'Source Sans Pro', "san-serif";
	font-weight: 400;
	font-size: 2.4em;
	font-variant: small-caps;
	color: rgb(237, 123, 32);
	clear: both;
	width: 100%;
	text-align: center;
}

li img{
	height: auto;
	width: 1.5em;
}

nav ul{
	display: inline-block;
	float: right;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

nav li{
	width: 10%;
	display: inline-block;
	text-align: center;
}

nav a:link{
	color: rgb(237, 123, 32);
	text-decoration: none;
}

nav a:visited{
	color: rgb(237, 123, 32);
	text-decoration: none;
}

nav a:hover{
	color: rgb(237, 123, 32);
	text-decoration: underline;
}

nav a li:hover{
	text-decoration: underline;
	color: rgba(112, 124, 60, 0.7);
	/*-moz-text-decoration-color: rgba(55, 16, 122, 0.7); /* Code for Firefox */
    /*text-decoration-color: rgba(55, 16, 122, 0.7);*/
}

#wrapper{
	width: 75%;
	margin: auto;
}

#categories{
	width: 100%;
	height: auto;
	margin: auto;
	display: block;
	float: left;
}

#categories img{
	width: 25%;
	height: auto;
	float: left;
}
#resume-content{
	width: 100%;
	margin: auto;
	float: left;
}

#resume-content h3{
	font-family: 'Lora', serif;
	font-weight: 600;
	font-size: 2em;
	margin: 0px;
	display: block;
}

#resume-content h5{
	font-family: "source Sans Pro", "san-serif";
	font-weight: 700;
	font-size: 1.4em;
	margin: 0px;
}

#resume-content p{
	font-family: 'Source Sans Pro', "san-serif";
	font-weight: 400;
	font-size: 1.1em;
}

#resume-content li{
	font-family: 'Source Sans Pro', "san-serif";
	font-weight: 400;
	font-size: 1.1em;
}

/*#resume-content div{
	-webkit-box-shadow: -3px 1px 17px 4px rgba(0,0,0,0.5);
	-moz-box-shadow: -3px 1px 17px 4px rgba(0,0,0,0.5);
	box-shadow: -3px 1px 17px 4px rgba(0,0,0,0.5);
}*/

#experience{
	display: none;
}

#contact{
	display: none;
}

#resume{
	display: none;
}

#education{
	background-color: rgba(10, 77, 109, 0.3);
	padding: 10px;
}

#experience{
	background-color: rgba(237, 123, 32, 0.3);
	padding: 10px;
}

#contact{
	background-color: rgba(112, 124, 60, 0.3);
	padding: 10px;
}

#contact #social_icons{
	text-align: center;
	float: left;
	width: 40%;
}

#social_icons img{
	width: 33%;
	height: auto;
	display: block;
	margin: auto;
}

#social_icons h3{
	margin-bottom: 10px;
}

div #form{
	width: 50%;
	float: right;
}

#contact form{
	border: solid black 2px;
	margin-top: 10px;
	padding: 20px;
	border-radius: 5px;
	background-color: rgb(210, 210, 210);
}

form #contact-intro{
	margin-top: 0px;
}

form p{
	font-family: 'Source Sans Pro', "san-serif";
	font-weight: 400;
	font-size: 1.4em;
}

form input{
	font-family: 'Source Sans Pro', "san-serif";
	font-weight: 400;
	font-size: 1em;
	margin-top: 3px;
}

form textarea{
	font-family: 'Source Sans Pro', "san-serif";
	font-weight: 400;
	font-size: 1.2em;
	display: block;
	margin: auto;
	width: 80%;
	height: auto;
}

form #button{
	text-align: center;
	width: 100%
}

form #submit{
	width: 50%;
	height: auto;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	font-family: "source Sans Pro", "san-serif";
	font-weight: 700;
	font-size: 2em;
	font-variant: small-caps;
	text-align: center;
	background-color: rgb(237, 123, 32);
	color: white;
	border-color: rgba(237, 123, 32, 0.0);
	border-radius: 10px;
	-webkit-box-shadow: 0px 6px 0px -0.5px rgba(214,107,30,1);
	-moz-box-shadow: 0px 6px 0px -0.5px rgba(214,107,30,1);
	box-shadow: 0px 6px 0px -0.5px rgba(214,107,30,1);
}

#resume div{
	text-align: center;
}

#resume-download{
	margin: auto;
	width: 100%;
}

#resume img{
	margin-top: 20px;
	width: 70%;
	height: auto;
	z-index: 10;
}

#download-button{
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 100%;
}

#download-button a{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	font-family: "source Sans Pro", "san-serif";
	font-weight: 700;
	font-size: 2em;
	font-variant: small-caps;
	text-align: center;
	background-color: rgb(237, 123, 32);
	color: white;
	border-color: rgba(237, 123, 32, 0.0);
	border-radius: 10px;
	-webkit-box-shadow: 0px 6px 0px -0.5px rgba(214,107,30,1);
	-moz-box-shadow: 0px 6px 0px -0.5px rgba(214,107,30,1);
	box-shadow: 0px 6px 0px -0.5px rgba(214,107,30,1);
}

#resume-image{
	text-align: center;
}
#resume a:link{
	color: white;
	text-decoration: none;
}

#resume a:visited{
	color: white;
	text-decoration: none;
}

#resume a:hover{
	color: white;
	text-decoration: none;
}

#resume a li:hover{
	text-decoration: none;
	color: white;
}

/*Responsive Design*/

@media screen and (max-width: 900px){
	nav{
		font-size: 2em;
	}

	li img{
	height: auto;
	width: 1.7em;
	}

	nav #logo{
		width: 15%;
		padding: none;
		position: static;
	}

	nav li{
		width: 25%;
		position: relative;
		bottom: 25px;
	}

	#wrapper{
		width: 100%;
	}
	/*#categories img{
		position: fixed;
		bottom: 0;
	}*/
}

@media screen and (max-width: 700px){
	#contact #social_icons{
		text-align: center;
		display: block;
		width: 100%;
		margin-top: 20px;
	}

	#social_icons img{
		width: 25%;
		height: auto;
		display: inline-block;
		margin: auto;
	}

	div #form{
		margin: auto;
		width: 100%;
	}

	form{
		width: 80%;
		margin: auto;
	}


	#download-button{
		display: none;
	}
}